<h1>Cuentas</h1>
<a href="/account/create">Crear cuenta</a>
<table class="table">
    <thead>
        <tr>

            <th>Imagen</th>
            <th>Tipo</th>
            <th>Nombre</th>
            <th>Divisa</th>
            <th>Saldo</th>
        </tr>
    </thead>
    <tbody>
        @{ 
           var accounts = ((List<Account>)ViewBag.Accounts);
        }

        @for (var i=0; i <accounts.Count; i++)
         {
            var item = accounts[i];
        <tr>
            <td></td>
            <td>@item.Type</td>
            <td>@item.Name</td>
            <td>@item.Currency</td>
            <td>@item.Amount</td>
            <td><a href="/Account/Edit?id=@item.id">Editar</a></td>
            <td><a href="/Account/delate?id=@item.id">Eliminar</a></td>
        </tr>
         }
    </tbody>
</table>


